@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Character Manager</h1>
    <p class="lead">This Web Application is Jeremiah Moulton's Capstone for Centralia College's Bachelor of Applied Science: Application Development. </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@*<div class="row">
    <ul>
        <li>@Html.ActionLink("Campaigns", "Index", "Campaign")</li>
    </ul>

</div>*@